<!-- <mat-toolbar color="primary">
  <span>
    <a routerLink="/">MyMessages</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
  </ul>
</mat-toolbar> -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <span>
    <a routerLink="/">My Notes</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Note</a>
    </li>
  </ul>
</nav>